#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--rg-cards);
  border-bottom: 1px solid var(--rg-border);
  padding: 0.3em 1em;
  position: fixed;
  width: 100%;
  height: 60px;
}
.nav-link svg { color: var(--rg-icons); }
.active-link svg { color: var(--rg-icons-light); }

.logo-container {
  position: relative;
}

#logo {
  font-weight: bold;
  color: var(--rg-icons-light);
}

.logo-dot{
  display: inline;
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 6px;
  right: -7px;
  background-color: var(--rg-icons-light);
  border-radius: 50%;
}

.nav-text {
  color: var(--rg-title);
}
#search-form {
  position: relative;
  width: 30%;
  max-width: 250px;
}

#search-form svg {
  position: absolute;
  top: 9px;
  left: 9px;
  color: var(--rg-muted);
}

#search-form input {
  padding-left: 2.5em;
  border-radius: 20px;
  border-color: var(--rg-muted);
  width: 100%;
  margin: 0;
  background-color: var(--rg-bg);
}

#search-form input::placeholder {
  color: var(--rg-muted);
}

#nav-links {
  display: flex;
  align-items: center;
}

#nav-links li {
  margin-right: 1em;
}

#nav-links span {
  cursor: pointer;
}

#nav-links svg {
  font-size: 1.5em;
}

.logout {
  color: var(--rg-muted);
}